<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="navigation.css">
    <title>SignUp</title>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <% if(errorMsg) { %>
        <p class="err_msg"><%= errorMsg %></p>
    <% } %>
    <form action="/signup" method="POST" class="form_container">
        <div class="form_control">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form_control">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form_control">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password">
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</body>
</html>