.form_container {
  width: 25%;
  margin: 1rem auto;
}

.form_control label,
.form_control input {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form_control input {
  padding: 0.5rem;
  border: 1px solid #11023b;
  border-radius: 2px;
}

.form_control input:focus {
  outline-color: #00695c;
}

.btn {
  color: #00695c;
  border: none;
  outline: none;
  border: 1px solid #00695c;
  border-radius: 2px;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #00695c;
  color: white;
}

.err_msg {
  margin: 1rem auto;
  width: 25%;
  background-color: tomato;
  text-align: center;
  padding: 1rem;
  border-radius: 2px;
}
